body {
    height: 100vh;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,label,input {
    color: #454545;

}

h1,h3 {
    font-family: LinetoBold;
}
h2,p,label {
    font-family: LinetoRegular;
}
input[type="number"] {
    border: none;
    text-align: center;
    height: 40px;
    width: 60px;
}

.RadioInputs Label {
    border: 1px solid lightgray;
    padding: 10px 20px 10px 20px;

}
.RadioInputs input[type="radio"]:checked+label {
    background-color: #fc3c56;
    border-color: #fc3c56;
}
.RadioInputs input {
    display: none;
}

.Container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.SideBar {
    height: 100%;
    width: 280px;
    background-color: lightblue;
    float: left;
}
.MainPage {
    width: calc(100vw - 280px);
    float: right;
}
.InnerContainer {
    width: calc(100% - 100px);
    margin: 40px auto;
}
.ProgressBarContainer {
    background-color: lightgray;
    margin-top: 35px;
    width: 100%;
    height: 4px;
}
.ProgressBarColor {
    float: left;
    width: calc(100% / 5);
    height: 100%;
    background-color: red;
}
.SuggestedSizeBox {
    background-color: lightgray;
    float: right;
    width: 50%;
    height: 173px;
}
.Centered {
    width: 100%;
    text-align: center;
}
.InputBorder {
    border: 1px solid gray;
    width: 185px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    padding: 0px 0px 0px 0px;
}
.InputBorder:hover {
    border: 1px solid red;
}
.PlusMinusButtons {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Courier New;
  color: #000;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.PlusMinusButtons:hover {
  background: #ff0040;
  text-decoration: none;
}
.SiteButton {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: SiteFont;
  color: #ffffff;
  font-size: 20px;
  background: #fc3c56;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;

}
.SiteButton:hover {
  background: #ff0040;
  text-decoration: none;
}

.Steps {
    display: none;
    width: 100%;
    margin-top: 50px;
}
.LocationList {
    list-style: none;
}
#One {
    display: block;
}

@font-face {
    font-family: LinetoBold;
    src: url(../Fonts/LinetoBold.woff2);
}

@font-face {
    font-family: LinetoRegular;
    src: url(../Fonts/LinetoRegular.woff2);
}

@media only screen and (max-width: 740pt) {
    .SideBar {
        width: 0px;
    }
    .MainPage {
        width: 100%;
    }
}
